.jumbotron{
 background-color: yellow;
 color: black;
 margin-top: 50px;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    height: 100px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.slide-margin{
    margin-bottom: 30px;
}
.tab-content{
    margin-top: 10px;
}
.margin-collapse{
    margin-top: 2px;
    margin-bottom: 2px;
}