$yellow:#D99414;
$green:#90D948;
$red:#BF3939;
@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.background-card-tittle{
    background-color: $green;
    width: 100%;
}
.navbar-styles{
    background-color: $red;
}
.jumbotron{
 background-color: $yellow;
 color: whitesmoke;
 @include margenes(50px,0px);
}
//cambio de color y tamaño de letra en fondo de popover
.popover-body{
    background-color: $green;    
    color: white;
    font-size: 16px;
}
.popover-header{
    background-color: $green;
    color: white;
    font-size: 24px;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $red;
    margin-bottom: 0px;
    margin-top: 10px;
    @include margenes(10px,0px);
}
.card-hotel{
    height: 100px;
    @include margenes(10px,0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.slide-margin{
    margin-bottom: 30px;
}
.tab-content{
    margin-top: 10px;
}
.margin-collapse{
    margin-top: 2px;
    margin-bottom: 2px;
}