.background-card-tittle {
  background-color: #90D948;
  width: 100%; }

.navbar-styles {
  background-color: #BF3939; }

.jumbotron {
  background-color: #D99414;
  color: whitesmoke;
  margin-top: 50px;
  margin-bottom: 0px; }

.popover-body {
  background-color: #90D948;
  color: white;
  font-size: 16px; }

.popover-header {
  background-color: #90D948;
  color: white;
  font-size: 24px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #BF3939;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.slide-margin {
  margin-bottom: 30px; }

.tab-content {
  margin-top: 10px; }

.margin-collapse {
  margin-top: 2px;
  margin-bottom: 2px; }
